---
import Layout from "@layout/Layout.astro";
import { siteConfig } from "@config/site";

interface GalleryItem {
  image: {
    src: string;
    alt: string;
  };
  caption: string;
}

const { gallery } = siteConfig.pages;
const galleryItems: GalleryItem[] = [];
---

<Layout
  pageTitle={gallery.title}
  description={gallery.description}
  type={gallery.type}
>
  <main class="px-8 pt-16">
    <div class="mt-8">
      <div class="max-w-5xl mx-auto">
        <h1 class="text-3xl font-bold mb-6">Gallery</h1>

        <div class="flex flex-row flex-wrap justify-between">
          {
            galleryItems.map((item: GalleryItem) => (
              <div
                data-image={item.image.src}
                class="image border border-primary-600 bg-lightercontentbackground w-full sm:w-[46%] h-fit shadow-2xl mt-4 lg:w-[32%] p-4 rounded-lg cursor-pointer"
              >
                <img
                  src={item.image.src}
                  alt={item.image.alt}
                  class="w-full object-cover rounded-lg"
                />
                <p class="text-center mt-4 text-primary-100">{item.caption}</p>
              </div>
            ))
          }
        </div>
      </div>

      <div
        id="imageModal"
        class="modal fixed inset-0 z-[1000] bg-black bg-opacity-75 flex justify-center items-center"
      >
        <div class="relative">
          <img
            id="modalImage"
            src=""
            alt="Popup Image"
            class="rounded-lg max-w-full max-h-screen"
          />
          <button
            id="modalclose"
            class="absolute top-2 border right-2 text-black text-4xl font-bold"
            >&times;</button
          >
        </div>
      </div>

      <script>
        const images = document.querySelectorAll(
          ".image"
        ) as NodeListOf<HTMLElement>;
        const modalImage = document.getElementById(
          "modalImage"
        ) as HTMLImageElement;
        const modal = document.getElementById("imageModal") as HTMLElement;
        const modalCloseButton = document.getElementById(
          "modalclose"
        ) as HTMLElement;

        images.forEach((image: HTMLElement) => {
          image.addEventListener("click", () => {
            const imageSrc = image.getAttribute("data-image");
            modalImage.src = imageSrc as string;
            modal.classList.add("modal-active");
          });
        });

        modalCloseButton.addEventListener("click", () => {
          modal.classList.remove("modal-active");
        });
      </script>
    </div>
  </main>
</Layout>

<style>
  .modal {
    display: none;
  }
  .modal-active {
    display: flex;
  }
</style>
