---
import LegalLayout from "../../../layout/LegalLayout.astro";
import { getCollection } from "astro:content";
import { siteConfig } from "../../../config/site";
import Email from "../../../components/Email.astro";

const privacyPolicies = await getCollection("privacy");

const pageTitle = "Privacy Policies | Dogu Yilmaz";
const description =
  "Privacy policies for apps and services provided by Dogu Yilmaz.";
const type = "article";
---

<LegalLayout {pageTitle} {description} {type}>
  <h1>Privacy Policies</h1>

  <p>
    This page contains privacy policies for various applications and services
    created by Dogu Yilmaz. Please select the appropriate privacy policy from
    the list below:
  </p>

  <ul>
    {
      privacyPolicies.map((policy) => (
        <li>
          <a
            href={`/legal/privacy/${policy.data.appName.toLowerCase().replace(/\s+/g, "-")}`}
            class="no-underline hover:underline"
          >
            {policy.data.appName}
          </a>{" "}
          - <span class="text-gray-400 text-sm">{policy.data.serviceType}</span>
          <small class="text-gray-500 block">
            Last updated:{" "}
            {policy.data.updatedDate
              ? new Date(policy.data.updatedDate).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })
              : new Date(policy.data.effectiveDate).toLocaleDateString(
                  "en-US",
                  { year: "numeric", month: "long", day: "numeric" }
                )}
          </small>
        </li>
      ))
    }
  </ul>

  <h2>General Information</h2>
  <p>
    All privacy policies listed here outline how information is collected, used,
    and shared when you use any of the applications or services provided by Dogu
    Yilmaz. For specific details regarding a particular application or service,
    please refer to its dedicated privacy policy.
  </p>

  <h2>Updates to Privacy Policies</h2>
  <p>
    Privacy policies may be updated from time to time for any reason. You will
    be notified of any changes by the updating of the policy on the respective
    page. You are advised to consult the relevant privacy policy regularly for
    any changes, as continued use is deemed approval of all changes.
  </p>

  <h2>Contact Us</h2>
  <p>
    If you have any questions regarding privacy while using any of the
    applications or services, or have questions about our practices, please
    contact us via email at <Email />.
  </p>
</LegalLayout>
